/** Commom **/
* { margin: 0; padding: 0;}
* {box-sizing: border-box}
html{ font-family: sans-serif;  }
html,body{ height: 100%;  }
ul{list-style-type:none;  }
a{  color: #2479CC;  }
h1{
    font-size:30px;
    color:#333;
    font-weight:500;
    margin:0 0 15px;
}
h2{
    font-size:20px;
    color:#333;
    font-weight:500;
    margin:0 0 15px;
}

h3{
    font-size:18px;
    color:#333;
    font-weight:400;
    margin:0 0 15px;
}
p{
    font-size:13px;
    margin:0 0 15px;
    color:#333;
    font-weight:400;
    line-height:23px;
}
.g3, .g6, .g12{  float: left;  padding: 10px;  }
.g3{  width: 33.33%!important;  }
.g6{  width: 50%!important;  }
.g12{width: 100%;!important;}
.hide{  display: none;  }
.pt10{padding-top: 10px;}
.mr10{margin-right: 10px;}
.mt10{margin-top: 10px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.bg-white{
    background-color: #fff!important;
}
/*.clearfix{*+height:1%;}*/
table{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
}

table thead th{
    color: rgba(0,0,0,0.85);
    font-weight: 500;
    background: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    padding: 16px;
}
table tbody td{
    color: rgba(0,0,0,0.65);
    border-bottom: 1px solid #e8e8e8;
    padding: 16px;
}
table tbody tr:hover td{
    background-color: #e6f7ff;
}
#menu{
    width: 230px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #202020;
    z-index: 2;
}

a.mobile-menu-opener {
    position: absolute;
    right: -40px;
    width: 40px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    background: #131313;
    top: 10px;
    border-radius: 0 5px 5px 0;
    display: none;
}

#sidebar .nav-list li {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    list-style: none;
}

#sidebar .nav-list li.active a{
    color: #1cb9c8;
}
#sidebar .nav-list li a:hover {
    color: #1cb9c8;
}

#sidebar .profile{
    padding: 40px 0 10px;
}
#sidebar .profile img{
    display: block;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    border-radius: 70px;
    overflow: hidden;
}
#sidebar .profile div{
    padding: 10px 0;
    font-size: 18px;
    color: #999;
    text-align: center;
}
#sidebar .nav-list  li a {
    padding-left: 25px;
    display: block;
    color: #999;
    text-decoration: none;
}

#main {
    margin-left: 230px;
    padding: 30px;
    min-height: 100%;
    background-color: #f5f5f5;
}

#main h1{
    margin-bottom: 10px;
}

/* Home */
.banner{
    width: 100%;
    float: left;
    height: 650px;
    position: relative;
    background: url(../image/banner.jpg) no-repeat top center ;
    background-size: cover;
}
.banner::before {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
}
.caption-info {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 40px 5px 40px 40px;
}
.caption-info h1{
    color: #fff;
    letter-spacing: 4px;
    font-weight: 700;
}
.caption-info h2{
    color: #fff;
    /*letter-spacing: 4px;*/
    /*font-weight: 700;*/
}
.caption-info .skills{
    display: inline-block;
    border-right: 3px solid #1cb9c8;
    padding-right: 4px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;

}
.caption-info .skills span{
    /*padding: 2px 4px;*/
    /*padding-right: 4px;*/
    white-space: nowrap;
}
.social-link li {
    float: left;
    width: auto;
    margin: 0 15px 0 0;
}

.social-link li a .fa {
    width: 34px;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
    background: #fff;
    border-radius: 50%;
    color: #1cb9c8;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.social-link li a .fa:hover {
    background: #1cb9c8;
    color: #fff;
}
/* Home */


/* About Me */
.panel-box {
    width: 100%;
    float: left;
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.06);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.06);
    -ms-box-shadow: 0 0 5px rgba(0,0,0,0.06);
    box-shadow: 0 0 5px rgba(0,0,0,0.06);
}
.panel-box:hover{
    -webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    -ms-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    box-shadow:0px 3px 5px rgba(0,0,0,0.3);
}
.basic-info li span{
    float:left;
    width:100px;
    height:auto;
    font-weight:500;
    font-size:14px;
}
.basic-info li span.info{
    font-weight:400;
    float:none;
    width:auto;
    font-size:13px;
}

.my-interests ul{
    width:100%;
    float:left;
    text-align:center;
    margin:10px 0 0;
}
.my-interests ul li{
    width:25%;
    float:left;
    position:relative;
    vertical-align:middle;
    text-align:center;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.my-interests .fa{
    display:inline-block;
    font-size:22px;
    margin-bottom: 10px;
    width:60px;
    line-height:58px;
    border:1px solid #dcdcdc;
    border-radius:50%;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.my-interests ul li span{
    display:block;
    font-size:14px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.my-interests ul li:hover{
    color:#1cb9c8;
    cursor:pointer;
}
.my-interests ul li:hover .fa{
    border-color:#1cb9c8;
}

/* education */
.timeline {
    position: relative;
    float:left;
    width: 100%;
}
.timeline:before {
    content:" ";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background: #1cb9c8;
    left: 50%;
    margin-left: -1px;
    opacity:0.25;
}
.timeline > li {
    margin-bottom: 50px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}
.timeline > li:last-child{
    margin:0;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
    padding:15px;
    border-radius:3px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.timeline > li > .timeline-panel:hover{
    -webkit-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    -ms-box-shadow:0px 3px 5px rgba(0,0,0,0.3);
    box-shadow:0px 3px 5px rgba(0,0,0,0.3);
}
.timeline > li > .timeline-panel h2{
    margin:0 0 5px;
}
.timeline-heading h3{
    margin:0;
}
.timeline > li > .timeline-panel .date{
    display:block;
    margin:5px 0;
    font-size: 13px;
}
.timeline-body p{
    margin:0;
}
.timeline-badge .fa{
    color:#1cb9c8;
    opacity:0.6;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    position: absolute;
    top: 36px;
    right: -8px;
    width: 15px;
    height: 15px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    background-color: #1cb9c8;
    border-radius: 50%;
    z-index: 1;
    opacity: .6;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff;
}
.timeline-badge a:hover {
    color: #dcdcdc;
}
.timeline-title {
    margin-top: 0;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
}
.timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}

.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2){
    margin-top: 50px;
}
.timeline > li:nth-child(6) {
    margin-top: 65px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -7px;
}
.no-float {
    float: none !important;
}
/* education */


/* contact me */
.contact-list li{
    display: flex;
    align-items: center;
    width:100%;
    float:left;
    color:#333;
    padding: 10px;
}
.contact-list .fa{
    flex-shrink: 0;
    font-size:18px;
    color:#1cb9c8;
    width:40px;
    line-height:40px;
    background:#f5f5f5;
    border-radius:50%;
    text-align:center;
    float:left;
    margin-right: 10px;
}
.contact-info{
    width:100%;
    /*height:auto;*/
    /*display:table-cell;*/
    /*padding-left:10px;*/
    vertical-align:middle;
}
.contact-info p{
    color:#333;
    margin:0;
    line-height:20px;
}
.contact-info a{
    color:#333;
}

.form-item{
    margin-bottom: 16px;
}
.form-item .form-content{
    position: relative;
}
.form-item .form-label{
    vertical-align: middle;
    font-size: 14px;
    color: #606266;
    line-height: 32px;
}
.form-item .form-control{
    display: inline-block;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 10px;
    width: 100%;
}
.form-item textarea.form-control{
    height: 100px;
    line-height: 2;
}
.form-item .form-control.error{
    border-color: #f56c6c;
}

label{
    font-size: 14px;
}

.form-item .form-error-msg{
    position: absolute;
    top: 100%;
    left: 0;
    color: #f56c6c;
    font-size: 12px;
    padding-top: 4px;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
    cursor: pointer;
    outline: none;
    border: none;
}
.btn.small{
    padding: 6px 10px;
}


/* contact me */


/*========= Skills ============*/
.progress-block{
    width:100%;
    float:left;
    height:auto;
    margin:10px 0 0;
}

.single-progressbar .progress .progress-bar {
    /* background-color: #1cb9c8; */
    box-shadow: none;
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.single-progressbar{
    width:100%;
    float:left;
    /*height:auto;*/
    margin:0 0 25px;
}
.single-progressbar {
    position: relative;
}
.single-progressbar:last-child{
    margin:0;
}
.single-progressbar .skill-text {
    position: relative;
    z-index: 1;
    font-weight:400;
    font-size:13px;
    margin:0 0 2px;
}
.single-progressbar .skill-text span {
    position: relative;
    top: 0;
    left: 0;
    font-weight: 300;
    color:#333;
    line-height:18px;
    font-size: 13px;
}
.single-progressbar .skill-text .name {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.single-progressbar .skill-text .skill-per {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 300;
    color:#333;
    line-height:18px;
}
.single-progressbar .progress {
    height: 4px;
    position: relative;
    margin:0;
    border:1px solid #1cb9c8;
    border-radius:2px;
}
.single-progressbar .progress .progress-bar {
    background-color: #1cb9c8;
    -webkit-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -moz-transition:all 1.5s ease-in-out;
    transition:all 1.5s ease-in-out;
}

/*========= Skills ============*/

.g3 img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 767px){
    #menu{
        left:-230px;
    }
    #main{
        margin-left: 0;
        padding: 50px 15px 40px 15px;
    }
    a.mobile-menu-opener {
        display: block;
    }
    .g3,.g6{
        width: 100%!important;
    }
}